/* COLORS ---------------------------------------*/
/* ANIMATION -----------------------------------*/
/* second */
/* second */
@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
    transform: scale(1, 0);
  }
  50% {
    opacity: 0.5;
    transform: scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes fade_in {
  0% {
    opacity: 0;
    transform: scale(1, 0);
  }
  50% {
    opacity: 0.5;
    transform: scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes slide {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
.fade-in--delay_1 {
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade-in--delay_2 {
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade-in--delay_3 {
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade-in--delay_4 {
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade-in--delay_5 {
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade-in--delay_6 {
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade-in--delay_7 {
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade-in--delay_8 {
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade-in--delay_9 {
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.restaurant-picture__image {
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.restaurant-picture img {
  width: 100vw;
  max-height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.restaurant-picture__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  padding: 2rem 2rem 0rem 2rem;
  margin-top: -3rem;
}
.restaurant-picture__header h2 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
.restaurant-picture__header span {
  font-size: 2.5rem;
}

.menu {
  background-color: #F6F6F6;
  padding-left: 2rem;
  padding-bottom: 4rem;
}
.menu__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__section__heading {
  margin-top: 3rem;
}
.menu__section__separator {
  height: 0.3rem;
  width: 4rem;
  background-color: #99E2D0;
  margin: 1rem 0;
}
.menu__order-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -2rem;
}

.dish-choice {
  opacity: 0;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-right: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 6px 12px #d9d9d9;
  overflow: hidden;
  margin-bottom: 1.5rem;
  transform-origin: bottom;
  width: 90vw;
  /* <---------------------------------*/
}
.dish-choice:last-child {
  margin-bottom: 4rem;
}
.dish-choice__txt {
  min-width: 70vw;
  margin: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  transition-duration: 0.4s;
}
.dish-choice__txt span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-choice__txt__heading {
  font-weight: bold;
  font-size: 1.8rem;
}
.dish-choice__txt__info {
  font-size: 1.5rem;
}
.dish-choice__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-weight: bold;
  padding: 1rem;
  min-width: 15vw;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.dish-choice:hover .dish-choice__txt {
  min-width: 50vw;
}
.dish-choice__selected {
  background-color: #99E2D0;
  color: white;
  width: 20rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transform-origin: right;
  transition-duration: 1s;
}
.dish-choice__selected span {
  font-size: 2rem;
  transform: rotate(-180deg);
  transition: transform 0.4s;
}
.dish-choice:hover .dish-choice__selected > span {
  transform: rotate(0deg);
}/*# sourceMappingURL=restaurant_pages.css.map */