@import "restaurant_pages";
@import "objects";
/*---Doc-settings-----------------------*/
html {
    font-size: 62.5%; /* now 1.0rem = 10px */
}
body{
    
    margin: 0;
    width: 100vw; /* body 100% wide */
    font-family: 'Roboto', sans-serif;
}
header, main, footer{
    @include reset-margin-padding();
}
a{
    text-decoration: none;
    color: black;
}
/*---Text-settings-----------------------*/
h1{
    @include reset-margin-padding();
    @include flex-col-center();
    font-size: 3.2rem;
    font-family: 'Shrikhand', cursive;
}
h2{
    @include reset-margin-padding();
    @include flex-col-center();
    font-size: 2.4rem;
}
h4{
    @include reset-margin-padding();
}
p, span{
    font-size: 1.6rem;
}

/*-------------------------------*/

.like-btn{
    position: relative;
    align-self: center;
    margin-right: 2.5rem;
    width: fit-content;
    height: fit-content;
    font-size: 2.5rem;   
    background: none;
    background-position: center;
    background-size: 0.1rem;
    transition-duration: 0.4s;
    > *{
        transition-duration: 0.4s; 
        transition-delay: 0.4s;
    }
    &:hover{
        background: no-repeat url("images/coeur.png");
        background-position: center;
        background-size: 2.5rem;
    }
    &:hover > *{
        opacity: 0;
    }
    
}
#header__heading{
    padding-top: 1.0rem;
    margin-bottom: 0.8rem;
    img{
        width: 80%;
    }
}
#header__previous{
    font-size: 2.5rem;
    position: absolute;
    left: 2.0rem;
    top: 2.0rem;
}
#location{
    @include flex-row-center();
    box-shadow: inset 0rem 0.2rem 0.2rem #CECECE;
    background-color: #EAEAEA;
    font-weight: bold;
    font-size: 1.6rem;
    width: 100vw;
    height: 5.0rem;
    span{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

#explore-menu{
    width: 100vw;
    background-color: $background-lightgrey-color;
    text-align: center;
    @include flex-col-center();
    h2{
        width: 75%;
        margin-top: 3rem;
    }
    &__Button{
        border: none;
        outline: none;
        background: linear-gradient(to bottom right, $secondary-color,$primary-color );
        color: white;
        font-weight:500;
        font-size: 1.5rem;
        padding: 1.5rem;
        width: 50%;
        border-radius: 3.0rem;
        margin-bottom: 4rem;
        &:hover{
            transition-duration: 0.4s;
            box-shadow: 0.0rem 0.0rem 0.5rem darken($primary-color,20%);
            background: linear-gradient(to bottom right, lighten($secondary-color,3%),lighten($primary-color,3%));
        }
        &:focus{
            border: none;
        }
    }
}

#how-to-use-it{
    @include flex-col-center();
    padding-left: 2.0rem;
    padding-top: 3.0rem;
    margin-bottom: 3.0rem;
    
    h2{
        @include section-heading();
    }
    .rule-of-use{
        display: flex;
        flex-flow: row nowrap;
        align-content: baseline;
        width: 85%;
        border-radius: 2.5rem;
        padding: 2.0rem 2.0rem 2.0rem 0rem;
        margin-bottom: 3.0rem;
        background-color: $background-lightgrey-color;
        box-shadow: 0px 6px 12px #d9d9d9;
        align-items: baseline;
        &:hover{
            background-color: #F5EDFF;
            
        }
        &__number{
            display: flex;
            justify-content: center;
            align-content: center;
            background-color: $primary-color;
            color: white;             
            width: 1.0rem;
            height: 1.0rem;
            padding: 1.0rem;
            margin-left: -2.0rem;
            margin-right: 2.0rem;
            border-radius: 2.2rem;
            line-height:0.9rem;
        }
        &__icon{
            display: flex;
            justify-content: center;
            align-content: center;
            margin-right: 2rem;
            color: #7E7E7E;
        }
        &__text{
            font-weight: bold;
        }      
    }
}
#restaurant-presentation{
    @include flex-col-center();
    padding-top: 3rem;
    padding-bottom: 5rem ;
    background-color: $background-lightgrey-color;
    h2{
        @include section-heading();
        padding-left: 2.0rem;
    }
}

.presentation-card{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    width: 90%;
    min-height: 20rem;
    max-height: 50rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 6px 12px #d9d9d9;
    transition-duration: 0.4s;
    &:hover{
        transform: scale(1.05);
    }
    &:hover > &__picture img{
        filter: contrast(110%);
    }
    &:hover &__picture--novelty {
        animation: shake 1s linear infinite;
        font-weight: bold;
    }
    &__picture{
        display: flex;
        flex-direction: row;
        height: 70%;
        overflow: hidden;
        img{
            max-height: 20rem;
            min-width: 100%;
            object-fit: cover;
        }
        &--novelty{
            padding: 0.7rem;
            color: #008766;
            background-color: #99E2D0;
            border-radius: 0.3rem;
            width: fit-content;
            height: fit-content;
            position: relative;
            top: 1.5rem; right: 9rem;
        }

    }
    &__footer{
        height: 30%;
        display: flex;
        flex-direction: row;
        background-color: white;
        &__text{
            display: flex;
            flex-flow: column;
            margin: 4% 0% 4% 4%;
            width: 96%;
            span:first-child{
                font-weight: bold;
            }
        }
    }

}
footer{
    background-color: $footer-color;
    color: white;
    font-size: 1.6rem;
    padding: 2.0rem;
    span{
        font-family: 'Shrikhand', cursive;
        font-size: 1.8rem;
    }
    ul{
        @include reset-margin-padding();
        list-style: none;
        margin-top: 2.0rem;
        line-height: 2.3rem;
    }
    a{
        color: white;
    }  
}
.loader{
    position: absolute;
    background: $background-lightgrey-color;
    animation: loaderEnd 1s 3s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    &__animation{
        display: flex;
        flex-direction: row;
        &__box{
            height: 5vw;
            width: 5vw;
            margin: 2.5vw;
            transform: scale(1);
            border-radius: 0.5rem;
            animation: loaderAnimation 2s infinite;
            &--1{
                background-color: $primary-color;
                animation-delay: 0s;
            }
            &--2{
                background-color: $secondary-color;
                animation-delay: 0.3s;
            }
            &--3{
                background-color: $tertiary-color;
                animation-delay: 0.5s;
            }
         }
    }
}
.content{
    
    opacity: 0;
    animation: waitForDisplay 3s 4s forwards;
}

