/*---Doc-settings-----------------------*/
html {
  font-size: 62.5%;
  /* now 1.0rem = 10px */
}

body {
  margin: 0;
  width: 100vw;
  /* body 100% wide */
  font-family: "Roboto", sans-serif;
}

header, main, footer {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/*---Text-settings-----------------------*/
h1 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-family: "Shrikhand", cursive;
}

h2 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
}

p, span {
  font-size: 1.6rem;
}

/*-------------------------------*/
#header__heading {
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}
#header__heading img {
  width: 80%;
}

#header__previous {
  font-size: 2.5rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
}

#location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0rem 0.2rem 0.2rem #CECECE;
  background-color: #EAEAEA;
  font-weight: bold;
  font-size: 1.6rem;
  width: 100vw;
  height: 5rem;
}
#location span {
  margin-left: 1rem;
  margin-right: 1rem;
}

#explore-menu {
  width: 100vw;
  background-color: #F6F6F6;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#explore-menu h2 {
  width: 75%;
  margin-top: 3rem;
}
#explore-menu__Button {
  border: none;
  outline: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1.5rem;
  width: 50%;
  border-radius: 3rem;
  margin-bottom: 4rem;
}
#explore-menu__Button:hover {
  transition-duration: 0.5s;
  box-shadow: 0rem 0rem 1rem #9356DC;
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
}
#explore-menu__Button:focus {
  border: none;
}

#how-to-use-it {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
}
#how-to-use-it h2 {
  display: flex;
  align-self: flex-start;
  padding-bottom: 3rem;
}
#how-to-use-it .rule-of-use {
  display: flex;
  flex-flow: row nowrap;
  align-content: baseline;
  width: 85%;
  border-radius: 2.5rem;
  padding: 2rem 2rem 2rem 0rem;
  margin-bottom: 3rem;
  background-color: #F6F6F6;
  box-shadow: 0px 6px 12px #d9d9d9;
  align-items: baseline;
}
#how-to-use-it .rule-of-use:hover {
  background-color: #F5EDFF;
}
#how-to-use-it .rule-of-use__number {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #9356DC;
  color: white;
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  margin-left: -2rem;
  margin-right: 2rem;
  border-radius: 2.2rem;
  line-height: 0.9rem;
}
#how-to-use-it .rule-of-use__icon {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 2rem;
  color: #7E7E7E;
}
#how-to-use-it .rule-of-use__text {
  font-weight: bold;
}

#restaurant-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #F6F6F6;
}
#restaurant-presentation h2 {
  display: flex;
  align-self: flex-start;
  padding-bottom: 3rem;
  padding-left: 2rem;
}

.presentation-card {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  width: 90%;
  min-height: 20rem;
  max-height: 50rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 6px 12px #d9d9d9;
}
.presentation-card__picture {
  display: flex;
  flex-direction: row;
  height: 70%;
  overflow: hidden;
}
.presentation-card__picture img {
  max-height: 20rem;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.presentation-card__picture--novelty {
  padding: 0.7rem;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 0.3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 1.5rem;
  right: 9rem;
}
.presentation-card__footer {
  height: 30%;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.presentation-card__footer__text {
  display: flex;
  flex-flow: column;
  margin: 4% 0% 4% 4%;
  width: 96%;
}
.presentation-card__footer__text span:first-child {
  font-weight: bold;
}
.presentation-card__footer__like-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  min-height: 100%;
}
.presentation-card__footer__like-button span {
  font-size: 2.2rem;
}
.presentation-card__footer__like-button span:hover {
  color: red;
}

footer {
  background-color: #353535;
  color: white;
  font-size: 1.6rem;
  padding: 2rem;
}
footer span {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 2rem;
  line-height: 2.3rem;
}

/*-----------Pages restaurants------------*/
.restaurant-picture__image {
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.restaurant-picture img {
  width: 100vw;
  max-height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.restaurant-picture__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  padding: 2rem 2rem 0rem 2rem;
  margin-top: -3rem;
}
.restaurant-picture__header h2 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
.restaurant-picture__header span {
  font-size: 2.5rem;
}

.menu {
  background-color: #F6F6F6;
  padding-left: 2rem;
  padding-bottom: 4rem;
}
.menu__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__section__heading {
  margin-top: 3rem;
}
.menu__section__separator {
  height: 0.3rem;
  width: 4rem;
  background-color: #99E2D0;
  margin: 1rem 0;
}
.menu__order-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -2rem;
}

.dish-choice {
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  margin-right: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 6px 12px #d9d9d9;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.dish-choice:last-child {
  margin-bottom: 4rem;
}
.dish-choice__txt {
  width: 70%;
  margin: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
}
.dish-choice__txt span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-choice__txt__heading {
  font-weight: bold;
  font-size: 1.8rem;
}
.dish-choice__txt__info {
  font-size: 1.5rem;
}
.dish-choice__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 15%;
  font-weight: bold;
  padding-bottom: 1rem;
}
.dish-choice__selected {
  background-color: #99E2D0;
  color: white;
  width: 15%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.dish-choice__selected span {
  font-size: 2rem;
}/*# sourceMappingURL=style.css.map */