$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color: #99E2D0;
$footer-color : #353535;
$background-lightgrey-color :#F6F6F6;

@mixin reset-margin-padding {
    padding: 0;
    margin: 0;    
}
@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@mixin section-heading {
    display: flex;
    align-self: flex-start;
    padding-bottom: 3.0rem;
}
@mixin fade-in($delay) {
    animation: fadein 1s;
    animation-delay: $delay;
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
}
@mixin slide-in($delay) {
    position: absolute;
    left: -100vw;
    animation: slide 0.5s forwards;
    animation-delay: $delay;
    @-webkit-keyframes slide {
        100% { left: 0; }
    }
    @keyframes slide {
        100% { left: 0; }
    }
}
/*---Doc-settings-----------------------*/
html {
    font-size: 62.5%; /* now 1.0rem = 10px */
}
body{
    margin: 0;
    width: 100vw; /* body 100% wide */
    font-family: 'Roboto', sans-serif;
}
header, main, footer{
    @include reset-margin-padding();
}
a{
    text-decoration: none;
    color: black;
}
/*---Text-settings-----------------------*/
h1{
    @include reset-margin-padding();
    @include flex-col-center();
    font-size: 3.2rem;
    font-family: 'Shrikhand', cursive;
}
h2{
    @include reset-margin-padding();
    @include flex-col-center();
    font-size: 2.4rem;
}
p, span{
    font-size: 1.6rem;
}

/*-------------------------------*/

#header__heading{
    margin-top: 1.0rem;
    margin-bottom: 0.8rem;
    img{
        width: 80%;
    }
}
#header__previous{
    font-size: 2.5rem;
    position: absolute;
    left: 2.0rem;
    top: 2.0rem;
}
#location{
    @include flex-row-center();
    box-shadow: inset 0rem 0.2rem 0.2rem #CECECE;
    background-color: #EAEAEA;
    font-weight: bold;
    font-size: 1.6rem;
    width: 100vw;
    height: 5.0rem;
    span{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

#explore-menu{
    width: 100vw;
    background-color: $background-lightgrey-color;
    text-align: center;
    @include flex-col-center();
    h2{
        width: 75%;
        margin-top: 3rem;
    }
    &__Button{
        border: none;
        outline: none;
        background: linear-gradient(to bottom right, $secondary-color,$primary-color );
        color: white;
        font-weight:500;
        font-size: 1.5rem;
        padding: 1.5rem;
        width: 50%;
        border-radius: 3.0rem;
        margin-bottom: 4rem;
        &:hover{
            transition-duration: 0.5s;
            box-shadow: 0.0rem 0.0rem 1.0rem $primary-color;
            background: linear-gradient(to bottom right, $primary-color, $secondary-color );
        }
        &:focus{
            border: none;
        }
    }
}

#how-to-use-it{
    @include flex-col-center();
    padding-left: 2.0rem;
    padding-top: 3.0rem;
    margin-bottom: 3.0rem;
    
    h2{
        @include section-heading();
    }
    .rule-of-use{
        display: flex;
        flex-flow: row nowrap;
        align-content: baseline;
        width: 85%;
        border-radius: 2.5rem;
        padding: 2.0rem 2.0rem 2.0rem 0rem;
        margin-bottom: 3.0rem;
        background-color: $background-lightgrey-color;
        box-shadow: 0px 6px 12px #d9d9d9;
        align-items: baseline;
        &:hover{
            background-color: #F5EDFF;
            
        }
        &__number{
            display: flex;
            justify-content: center;
            align-content: center;
            background-color: $primary-color;
            color: white;             
            width: 1.0rem;
            height: 1.0rem;
            padding: 1.0rem;
            margin-left: -2.0rem;
            margin-right: 2.0rem;
            border-radius: 2.2rem;
            line-height:0.9rem;
        }
        &__icon{
            display: flex;
            justify-content: center;
            align-content: center;
            margin-right: 2rem;
            color: #7E7E7E;
        }
        &__text{
            font-weight: bold;
        }      
    }
}
#restaurant-presentation{
    @include flex-col-center();
    padding-top: 3rem;
    padding-bottom: 5rem ;
    background-color: $background-lightgrey-color;
    h2{
        @include section-heading();
        padding-left: 2.0rem;
    }
}
.presentation-card{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    width: 90%;
    min-height: 20rem;
    max-height: 50rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 6px 12px #d9d9d9;
    &__picture{
        display: flex;
        flex-direction: row;
        height: 70%;
        overflow: hidden;
        img{
            max-height: 20rem;
            min-width: 100%;
            object-fit: cover;
        }
        &--novelty{
            padding: 0.7rem;
            color: #008766;
            background-color: #99E2D0;
            border-radius: 0.3rem;
            width: fit-content;
            height: fit-content;
            position: relative;
            top: 1.5rem; right: 9rem;
        }

    }
    &__footer{
        height: 30%;
        display: flex;
        flex-direction: row;
        background-color: white;
        &__text{
            display: flex;
            flex-flow: column;
            margin: 4% 0% 4% 4%;
            width: 96%;
            span:first-child{
                font-weight: bold;
            }
        }
        &__like-button{
            @include flex-col-center();
            width: 20%;
            min-height: 100%;
            span{
                font-size: 2.2rem;
                &:hover{
                    color: red;
                }  
            }

        }

    }

}
footer{
    background-color: $footer-color;
    color: white;
    font-size: 1.6rem;
    padding: 2.0rem;
    span{
        font-family: 'Shrikhand', cursive;
        font-size: 1.8rem;
    }
    ul{
        @include reset-margin-padding();
        list-style: none;
        margin-top: 2.0rem;
        line-height: 2.3rem;
    }
}

/*-----------Pages restaurants------------*/

.restaurant-picture{
    &__image{
        position: relative;
        z-index: -1;
        overflow: hidden;
    }
    img{
        width: 100vw;
        max-height: 30rem;
        object-fit: cover;
        overflow: hidden;
        
    }
    &__header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: baseline;
        background-color: $background-lightgrey-color;
        border-radius: 3rem 3rem 0 0;
        padding: 2rem 2rem 0rem 2rem;
        margin-top: -3rem;
        
        h2{
            font-family:'Shrikhand', cursive;
            font-weight: normal;
        }
        span{
            font-size: 2.5rem
        }
    }
}
.menu{
    background-color: $background-lightgrey-color;
    padding-left: 2.0rem;
    padding-bottom: 4rem;
    &__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__heading{
            margin-top: 3rem;
        }
        &__separator{
            height: 0.3rem;
            width: 4.0rem;
            background-color: $tertiary-color;
            margin: 1rem 0;
        }
    }
    &__order-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: -2rem;
        
    }
    

}
.dish-choice{
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    margin-right: 2.0rem;
    border-radius: 2rem;
    box-shadow: 0px 6px 12px #d9d9d9;
    overflow: hidden;
    margin-bottom: 1.5rem;
    &:last-child{
        margin-bottom: 4rem;
    }
    
    &__txt{
        
        width: 70%;
        margin: 1rem 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        line-height: 2.5rem;
        
        span{
            white-space:nowrap;
            overflow: hidden;
            text-overflow: ellipsis;    
        }
        &__heading{
            font-weight: bold;
            font-size: 1.8rem;
        }
        &__info{
            font-size: 1.5rem;
        }
    }
    &__price{
        
        display: flex; 
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 15%;
        font-weight: bold;
        padding-bottom: 1rem;
    }
    &__selected{
        
        background-color: $tertiary-color;
        color: white;
        width: 15%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        span{
            font-size: 2rem;
        }

    }

}