/* COLORS ---------------------------------------*/
$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color: #99E2D0;
$footer-color : #353535;
$background-lightgrey-color :#F6F6F6;
/* ANIMATION -----------------------------------*/
$fadein-time : 1s;
$fadein-start-delay : 1s;/* second */
$fadein-interval : 0.2s; /* second */