/* Objects --- list items are sorted alphabetically */
/* -------------------------------------------------*/
/* VARIABLES ---------------------------------------*/
/* colors */
/* animation */
/* -------------------------------------------------*/
/* FUNCTIONS ---------------------------------------*/
/* ----------------------------------------------*/
/* -------------------------------------------------*/
/* ANIMATIONS --------------------------------------*/
/* ----------------------------------------------*/
@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
    transform: scale(1, 0);
  }
  50% {
    opacity: 0.5;
    transform: scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes fade_in {
  0% {
    opacity: 0;
    transform: scale(1, 0);
  }
  50% {
    opacity: 0.5;
    transform: scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@-webkit-keyframes loaderAnimation {
  0% {
    transform: scale(1) translate(0, 0);
  }
  33% {
    transform: scale(1.9) translate(0, -5rem) rotate(-90deg);
  }
  66% {
    transform: scale(1.9) translate(0, 0) rotate(-90deg);
  }
  100% {
    transform: scale(1) translate(0, 0) rotate(90deg);
  }
}
@keyframes loaderAnimation {
  0% {
    transform: scale(1) translate(0, 0);
  }
  33% {
    transform: scale(1.9) translate(0, -5rem) rotate(-90deg);
  }
  66% {
    transform: scale(1.9) translate(0, 0) rotate(-90deg);
  }
  100% {
    transform: scale(1) translate(0, 0) rotate(90deg);
  }
}
@-webkit-keyframes loaderEnd {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes loaderEnd {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@-webkit-keyframes slide {
  0% {
    height: 0rem;
  }
  99% {
    height: 30rem;
  }
  100% {
    height: auto;
  }
}
@keyframes slide {
  0% {
    height: 0rem;
  }
  99% {
    height: 30rem;
  }
  100% {
    height: auto;
  }
}
@-webkit-keyframes waitForDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes waitForDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* -------------------------------------------------*/
/* MIXINS ----------------------------------------*/
/* ----------------------------------------------*/
/*--items fade in------------------------------------------------------*/
.fade-in--delay_1 {
  opacity: 0;
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.fade-in--delay_2 {
  opacity: 0;
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.fade-in--delay_3 {
  opacity: 0;
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.fade-in--delay_4 {
  opacity: 0;
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.fade-in--delay_5 {
  opacity: 0;
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.fade-in--delay_6 {
  opacity: 0;
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.fade-in--delay_7 {
  opacity: 0;
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.fade-in--delay_8 {
  opacity: 0;
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
}

.fade-in--delay_9 {
  opacity: 0;
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

@media screen and (max-width: 360px) {
  .restaurant-content {
    background: white;
    border: 1px solid #F6F6F6;
    opacity: 1;
  }
}
@media screen and (min-width: 361px) and (max-width: 1999px) {
  .restaurant-content {
    background: white;
    max-width: 480px;
    margin: 0 auto;
    border: 1px solid #F6F6F6;
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant-content {
    background: white;
    margin-top: 5%;
    max-height: 81vh;
    max-width: 480px;
    overflow: scroll;
    margin: 0 auto;
    border: 1vh solid #222222;
    opacity: 1;
  }
}
.restaurant-picture__image {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.restaurant-picture img {
  width: 100%;
  max-height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.restaurant-picture__header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  z-index: 1;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  padding: 2rem 2rem 2rem 2rem;
  margin-top: -3rem;
}
.restaurant-picture__header h2 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
.restaurant-picture__header span {
  font-size: 2.5rem;
}

.menu {
  background-color: #F6F6F6;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
}
.menu__slider {
  height: 0rem;
  -webkit-animation: slide 1.5s;
          animation: slide 1.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.menu__slider:last-child {
  margin-bottom: 4rem;
}
.menu__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__section__heading {
  margin: 0;
  font-weight: normal;
  font-size: 1.6rem;
}
.menu__section__separator {
  height: 0.3rem;
  width: 4rem;
  background-color: #99E2D0;
  margin: 1rem 0;
}
.menu__order-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -2rem;
}

.dish-choice {
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-right: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 6px 12px #d9d9d9;
  margin-bottom: 1.5rem;
  transform-origin: bottom;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.dish-choice__txt {
  min-width: 86%;
  max-width: 86%;
  margin: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  transition-duration: 0.4s;
}
.dish-choice__txt span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-choice__txt__heading {
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
  font-size: 1.8rem;
  overflow: visible;
  white-space: nowrap;
}
.dish-choice__txt__info {
  font-size: 1.5rem;
}
.dish-choice__price {
  display: flex;
  background: transparent;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  padding: 1rem;
  padding-left: 0;
  min-width: 8%;
  max-width: 8%;
  padding-bottom: 1rem;
  font-size: 1.8rem;
  position: relative;
  z-index: -1;
}
.dish-choice:hover .dish-choice__txt {
  min-width: 68%;
}
.dish-choice__selected {
  background-color: #99E2D0;
  color: white;
  max-width: 20%;
  min-width: 20%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transform-origin: right;
  transition-duration: 1s;
  font-size: 2.3rem;
  margin-left: 1rem;
}
.dish-choice__selected__icon {
  transform: rotate(-180deg);
  transition: transform 0.6s ease-out;
}
.dish-choice:hover .dish-choice__selected {
  display: inherit;
  margin: 0;
}
.dish-choice:hover .dish-choice__selected__icon {
  transform: rotate(0deg);
}

/* Objects --- list items are sorted alphabetically */
/* -------------------------------------------------*/
/* VARIABLES ---------------------------------------*/
/* colors */
/* animation */
/* -------------------------------------------------*/
/* FUNCTIONS ---------------------------------------*/
/* ----------------------------------------------*/
/* -------------------------------------------------*/
/* ANIMATIONS --------------------------------------*/
/* ----------------------------------------------*/
@keyframes fade_in {
  0% {
    opacity: 0;
    transform: scale(1, 0);
  }
  50% {
    opacity: 0.5;
    transform: scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes loaderAnimation {
  0% {
    transform: scale(1) translate(0, 0);
  }
  33% {
    transform: scale(1.9) translate(0, -5rem) rotate(-90deg);
  }
  66% {
    transform: scale(1.9) translate(0, 0) rotate(-90deg);
  }
  100% {
    transform: scale(1) translate(0, 0) rotate(90deg);
  }
}
@keyframes loaderEnd {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes slide {
  0% {
    height: 0rem;
  }
  99% {
    height: 30rem;
  }
  100% {
    height: auto;
  }
}
@keyframes waitForDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* -------------------------------------------------*/
/* MIXINS ----------------------------------------*/
/* ----------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
@media screen and (max-width: 360px) {
  html {
    font-size: 52.5%;
    /* 1.0rem = 8.4px */
  }

  #smartphone-top, #smartphone-bottom {
    display: none;
  }

  .content {
    background: white;
    max-width: 580px;
    margin: 0 auto;
    border: 1px solid #F6F6F6;
  }
}
@media screen and (min-width: 361px) and (max-width: 1999px) {
  html {
    font-size: 62.5%;
    /* 1.0rem = 10px */
  }

  #smartphone-top, #smartphone-bottom {
    display: none;
  }

  .content {
    background: white;
    max-width: 580px;
    margin: 0 auto;
    border: 1px solid #F6F6F6;
  }
}
@media screen and (min-width: 1200px) and (min-height: 800px) {
  html {
    font-size: 62.5%;
    /* 1.0rem = 10px */
  }

  #smartphone-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 480px;
    max-width: 480px;
    margin: 0 auto;
    background: #222222;
    border: 1vh solid #222222;
    border-radius: 2.5rem 2.5rem 0 0;
    height: 3vh;
  }
  #smartphone-top .camera {
    height: 1.2vh;
    width: 1.2vh;
    border-radius: 50%;
    border: 0.1rem solid #3c3c3c;
    background: black;
  }
  #smartphone-top__speaker {
    height: 1.2vh;
    width: 15%;
    margin: 0 7% 0 7%;
    border: 0.1rem solid #3c3c3c;
    border-radius: 1.2vh;
    background: black;
  }

  #smartphone-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 480px;
    max-width: 480px;
    margin: 0 auto;
    background: #222222;
    border: 1vh solid #222222;
    border-radius: 0 0 2.5rem 2.5rem;
    height: 10vh;
  }
  #smartphone-bottom__button {
    min-height: 4vh;
    max-height: 4vh;
    min-width: 4vh;
    max-width: 4vh;
    border: 0.1rem solid #3c3c3c;
    border-radius: 50%;
  }

  .content {
    background: white;
    margin-top: 5%;
    max-height: 81vh;
    max-width: 480px;
    overflow: scroll;
    margin: 0 auto;
    border: 1vh solid #222222;
  }
}
/*--------------------------------------------------*/
/*--------------------------------------------------*/
body {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header, main, footer {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/*---Text-settings-----------------------*/
h1 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-family: "Shrikhand", cursive;
}

h2 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
}

h4 {
  padding: 0;
  margin: 0;
}

p, span {
  font-size: 1.6rem;
}

/*-------------------------------*/
.like-btn {
  position: relative;
  align-self: center;
  margin-right: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 2.5rem;
  background: none;
  background-position: center;
  background-size: 0.1rem;
  transition-duration: 0.4s;
}
.like-btn > * {
  transition-duration: 0.4s;
  transition-delay: 0.4s;
}
.like-btn:hover {
  background: no-repeat url("../images/coeur.png");
  background-position: center;
  background-size: 2.5rem;
}
.like-btn:hover > * {
  opacity: 0;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
#header__heading {
  padding-top: 1rem;
  margin-bottom: 0.8rem;
  margin: 0 auto;
}
#header__previous {
  font-size: 2.5rem;
  margin-left: 2%;
}

#location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0rem 0.2rem 0.2rem #CECECE;
  background-color: #EAEAEA;
  font-weight: bold;
  font-size: 1.6rem;
  width: 100%;
  height: 5rem;
}
#location span {
  margin-left: 1rem;
  margin-right: 1rem;
}

#explore-menu {
  width: 100%;
  background-color: #F6F6F6;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#explore-menu h2 {
  width: 75%;
  margin-top: 3rem;
}
#explore-menu__Button {
  border: none;
  outline: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1.5rem;
  width: 50%;
  border-radius: 3rem;
  margin-bottom: 4rem;
}
#explore-menu__Button:hover {
  transition-duration: 0.4s;
  box-shadow: 0rem 0rem 0.5rem #6023a9;
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
}
#explore-menu__Button:focus {
  border: none;
}

#how-to-use-it {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
}
#how-to-use-it h2 {
  display: flex;
  align-self: flex-start;
  padding-bottom: 3rem;
}
#how-to-use-it .rule-of-use {
  display: flex;
  flex-flow: row nowrap;
  align-content: baseline;
  width: 85%;
  border-radius: 2.5rem;
  padding: 2rem 2rem 2rem 0rem;
  margin-bottom: 3rem;
  background-color: #F6F6F6;
  box-shadow: 0px 6px 12px #d9d9d9;
  align-items: baseline;
}
#how-to-use-it .rule-of-use:hover {
  background-color: #F5EDFF;
}
#how-to-use-it .rule-of-use:hover .rule-of-use__icon {
  color: #9356DC;
}
#how-to-use-it .rule-of-use__number {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #9356DC;
  color: white;
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  margin-left: -2rem;
  margin-right: 2rem;
  border-radius: 2.2rem;
  line-height: 0.9rem;
}
#how-to-use-it .rule-of-use__icon {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 2rem;
  color: #7E7E7E;
}
#how-to-use-it .rule-of-use__text {
  font-weight: bold;
}

#restaurant-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #F6F6F6;
}
#restaurant-presentation h2 {
  display: flex;
  align-self: flex-start;
  padding-bottom: 3rem;
  padding-left: 2rem;
}

.presentation-card {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  width: 90%;
  min-height: 20rem;
  max-height: 50rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 6px 12px #d9d9d9;
  transition-duration: 0.4s;
}
.presentation-card:hover {
  transform: scale(1.05);
}
.presentation-card:hover > .presentation-card__picture img {
  filter: contrast(110%);
}
.presentation-card:hover .presentation-card__picture--novelty {
  -webkit-animation: shake 1s linear infinite;
          animation: shake 1s linear infinite;
  font-weight: bold;
}
.presentation-card__picture {
  display: flex;
  flex-direction: row;
  height: 70%;
  overflow: hidden;
}
.presentation-card__picture img {
  max-height: 20rem;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.presentation-card__picture--novelty {
  padding: 0.7rem;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 0.3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 1.5rem;
  right: 9rem;
}
.presentation-card__footer {
  height: 30%;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.presentation-card__footer__text {
  display: flex;
  flex-flow: column;
  margin: 4% 0% 4% 4%;
  width: 96%;
}
.presentation-card__footer__text span:first-child {
  font-weight: bold;
}

footer {
  background-color: #353535;
  color: white;
  font-size: 1.6rem;
  padding: 2rem;
}
footer span {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 2rem;
  line-height: 2.3rem;
}
footer a {
  color: white;
}

.wait-for-display {
  opacity: 0;
  -webkit-animation: waitForDisplay 3s 4s forwards;
          animation: waitForDisplay 3s 4s forwards;
}

.loader {
  position: absolute;
  background: #F6F6F6;
  -webkit-animation: loaderEnd 1s 3s forwards;
          animation: loaderEnd 1s 3s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100%;
}
.loader__animation {
  display: flex;
  flex-direction: row;
}
.loader__animation__box {
  height: 2vw;
  width: 2vw;
  margin: 1.25vw;
  transform: scale(1);
  border-radius: 0.5rem;
  -webkit-animation: loaderAnimation 2s infinite;
          animation: loaderAnimation 2s infinite;
}
.loader__animation__box--1 {
  background-color: #9356DC;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loader__animation__box--2 {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loader__animation__box--3 {
  background-color: #99E2D0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}/*# sourceMappingURL=style.css.map */